{% extends "myapp/base.html" %}


{% block content %}

<p>
    {% for message in messages %}
    {{ message }}
    {%endfor%}
</p>
<div class="table-wrapper" style="display: inline-block; margin: 50px;">
    <table border="1" class="text-center" style="border-collapse: collapse">
        <thead>
            <tr>
                <th>ユーザー名</th>
                <th>アレルギー</th>
                <th>好きな食べ物</th>
                <th>嫌いな食べ物</th>
            </tr>
        </thead>
        <tbody>

            {% for result in result %}
            <tr>
                <!-- 4列分ユーザ情報を出力 -->
                <td>{{result.userName}}</td>
                <td>{{result.allergy}}</td>
                <td>{{result.like}}</td>
                <td>{{result.dislike}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<br>
<a href="{% url 'showSearchForm' %}">検索画面に戻る</a>


{% endblock %}