{% extends 'myapp/base.html' %}

{% block content%}
<h1>ユーザー一覧</h1>
<p>＊編集する際は自分のユーザー名のみ選んでください</p>
<!-- テーブル -->
<table border="1" style="border-collapse: collapse; display: inline-block;">
<thead>
<tr>
<!-- <th colspan="2">{{msg}}:{{count}}名</th> -->
<th>{{msg}}:{{count}}名</th>
</tr>
</thead>
<tbody>
<!-- count件(行)数分をループ -->
{% for user in userinfo %}
<tr>
<!-- 4列分ユーザ情報を出力 -->
<td><a href="{% url 'showDetail' user.id %}">{{user.userName}}</a></td>
<td>{{user.allergy}}</td>
<td>{{user.like}}</td>
<td>{{user.dislike}}</td>
<td><a href="{% url 'showEditUserForm' user.id %}">編集</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
