<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>ユーザー登録</title>
</head>
<body>
    <h1>ユーザ登録</h1>
 
    <form action='{% url "showUsers" %}' method='post' class='form'>
        <!-- ユーザー登録フォームを表示 -->
        {% csrf_token %}
        {{ userForm }}
        <button type='submit' class='btn btn-outline-primary'>登録</button>
        <a href='{% url "showUsers" %}' class='btn btn-outline-secondary'>戻る</a>
    </form>
</body>
</html>
~                                                                               
~                                                                               
~               
